*{
    padding: 5px;
    margin: 5px;
}
body{
    border: 1px solid green;
}
p{
    padding-left: 5px;
    font-size: 25px;
}

#submitButton{
    background-color: lightblue;
    border-radius: 15%;
}
.text1{
    border: 1px solid black;
    
    padding: 5px;
    margin: 5px;
}
.text2{
    border: 1px solid black;
    /* display: inline; */
    background-color: lightblue;
}